*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   
}


#intro{
    width: 100%;
    height: 0%;
    color: black;
    text-align: center;
    font-weight: 500;
    font-size:large;
    /* background: color #C9E3AC; */
    background-color: #B8F8C4;
    animation-name: goalcolor;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    /* border-bottom: dotted black 2px; */
    
    
}
/* #headingcont{
    display: flex;
    justify-content: center;
    align-items: center;
} */
#logo{
    width: 90px;
    height: 65px;
    background-color: aqua;
    margin-left: 0px;
    background-image: url(ICC\ LOGO.jpg);
    background-size: contain;
}
#heading{
    width: 100%;
    height: 70px;
  color: #FFF8F0;
  background-color: #214F4B;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5px;
}
#img{
    width: 100%;
    height: 400px;
    
    animation-name: animation;
    animation-duration:5s ;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    animation-direction: alternate;
    
    margin-top: 6px;
    margin-bottom: 6px;
    
   
    
}
#text{
    height:250px ;
    width:fit-content;
    /* background-color: aqua; */
    font-size: 25px;
    font-weight:1000;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}
@media(max-width:1000px){
     #text{
        font-size: small;
       
    } 
    #heading{
        font-size:larger;
    }
    #img{
        height: fit-content;
    }
    .box{
        width: 400px;
    }
}  

.shop1{
    display: flex;
    margin-top: 5px;
}



 .box{
    height: 200px;
    width: 200px;
    /* border:2px solid black; */
    margin: 2px;
    /* border-radius: 5px; */

 }        
    
 /* .shop2{
    display: flex;
    margin-top: 5px;
}  */

/* #container{
    background-color:#214F4B;
} */


@keyframes animation{
   from{background-image: url(spray1.jpeg);
   background-size: cover;}
   to{background-image: url(maize.jpg);
background-size: cover;}
/* to{background-image: url(crop\ 2.jpeg);
background-size: cover;} */


   
}
#mission{
    background-color: #B8F8C4;
    font-family:Arial, Helvetica, sans-serif
    ;
    animation-name: goalcolor;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    border-radius: 10px;
    animation-direction: alternate;
}
#goaltxt{
   
    /* background-color: #1C448E; */
    font-size: larger;
   
    /* color: white; */
    margin: 5px;
    /* border-radius: 10px; */
    /* border: 3px black dotted; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
     animation-name: goaltxt;
    animation-duration: 10s;
    animation-iteration-count: infinite;
     animation-direction: alternate;  
     animation-timing-function: ease-in;  
     
    
}
@keyframes goalcolor{
    from{background-color:#A2D729 ;}
    to{background-color: #3C91E6;}
}
#contact{
    height: 30px;
    background-image:url(contact2.jpg);
    background-size: cover;
    animation-name: contact;
    animation-iteration-count: infinite;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
  
}

@keyframes contact{
    from{border-radius: 20px;}
    to{border-radius: 70px;}
}
@keyframes backcolor{
    from{background-color: #A7E583;}
    to{background-color:#EAEFBD ;}
}
.contdetcont{
    margin: 8px;
    font-size: larger;
 

}
.contdetcont1{
    background-color: #B8F8C4;
    margin: 5px;
    border: solid black 1px;
}
#ourproducts{
    height: 140px;
    border: 2px dotted black;
    margin: 7px;
   background-image: url(our\ products.png);
   background-size: cover;
   animation-name: contact;
    animation-iteration-count: infinite;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
   
}
.prodimg{
    width: 100px;
    height: 150px;
    margin: 10px;
    background-size: cover;
}
#one{
    background-image: url(crp5.jpg);
}
.prodinfo{
    height: fit-content;
    border: 3px dotted #214F4B;
    margin: 5px;
    border-radius: 10px;
}
#two{
    background-image: url(crp12.jpg);
}
#three{
    background-image: url(crp15.jpg);
}
#threein{
    height: 170px;
}
#four{
    background-image: url(crp2.jpg);
}
#fourin{
    height: fit-content;
}
#view1{
    background-image:url(prodlist1.jpg) ;
    height: 520px;
    background-size: contain;
}
#view{
    margin: 12px;
    height: 30px;
    animation-name: goalcolor;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    border-radius: 10px;
    animation-direction: alternate;
    
    
}
#view2{
    background-image:url(prodlist2.jpg) ;
    height: 540px;
    background-size: contain;
}
#five{
    background-image: url(crp13.jpg);
}
#six{
    background-image: url(crp16.jpg);
}
#abtus{
    height: 400px;
    margin: 10px;
    animation-name: abtus;
    animation-duration: 8s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    
}
@keyframes abtus{
   
   from{background-image: url(beige\ minimalist\ about\ us\ business\ document.jpg);
background-size: cover;}
to{background-image: none;}
}
@keyframes borderani{
    from{border: 2.5px solid #214F4B;}
    to{border: 2.5px dotted #214F4B;}
}
@keyframes goaltxt{
    from{background-color: #214F4B;
    color: white;}
    to{background-color: #EDFF7A;
    color: black;}
}